<div class="navigation">
    <ul class="menu" *ngIf="isForFrontoffice">
        <li>
            <a routerLink="/portail/home" routerLinkActive="router-link-active">Home</a>
        </li>

        <li>
            <a routerLink="/portail/todo" routerLinkActive="router-link-active">Mes todos</a>
        </li>

        <li>
            <a routerLink="/portail/profile" routerLinkActive="router-link-active">Mon Profil</a>
        </li>

        <li>
            <a routerLink="/portail/chat" routerLinkActive="router-link-active">Chat</a>
        </li>
    </ul>

    <ul class="menu" *ngIf="!isForFrontoffice">
        <li>
            <a routerLink="/backoffice/dashboard" routerLinkActive="router-link-active">Dashboard</a>
        </li>

        <li>
            <a routerLink="/backoffice/todo" routerLinkActive="router-link-active">Gérer Todo</a>
        </li>

        <li>
            <a routerLink="/backoffice/actualites" routerLinkActive="router-link-active">Gérer Actu</a>
        </li>

        <li>
            <a routerLink="/backoffice/users" routerLinkActive="router-link-active">Gérer users</a>
        </li>

        <li>
            <a routerLink="/backoffice/profile" routerLinkActive="router-link-active">Profil</a>
        </li>
    </ul>
</div>