<div class="navigation">

    <ul class="menu" *ngIf="isForFrontoffice">
        <li>
            <button mat-button routerLink="/portail/home" routerLinkActive="router-link-active">Home</button>
        </li>

        <li>
            <button mat-button routerLink="/portail/todo" routerLinkActive="router-link-active">Todos</button>

        </li>

        <li>
            <button mat-button routerLink="/portail/profile" routerLinkActive="router-link-active">Mon Profil</button>           
        </li>

        <li>
            <button mat-button routerLink="/portail/chat" routerLinkActive="router-link-active">Chat</button>                       
        </li>
    </ul>

    <ul class="menu" *ngIf="!isForFrontoffice">
        <li>
            <button mat-button routerLink="/backoffice/dashboard" routerLinkActive="router-link-active">Dashboard</button>
        </li>

        <li>
            <button mat-button routerLink="/backoffice/todo" routerLinkActive="router-link-active">Gérer Todos</button>
        </li>

        <li>
            <button mat-button routerLink="/backoffice/actualites" routerLinkActive="router-link-active">Gérer Actu</button>
        </li>

        <li>
            <button mat-button routerLink="/backoffice/users" routerLinkActive="router-link-active">Gérer Users</button>            
        </li>

        <li>
            <button mat-button routerLink="/backoffice/profile" routerLinkActive="router-link-active">Gérer Profil</button>
        </li>
    </ul>
</div>